/* Begin left nav bar CSS */
.left-nav-bar {
   background-color: #732e79;
   width: 76px !important;
   flex: 0 0 76px !important;
}

.searchbar-chatroom {
   background-color: #732e79;
}

.homeicon-css {
   margin-left: 10px;
}

.group-button-nav {
   margin-top: 10px;
   margin-left: 10px;
}

.personicon {
   margin-top: 725px;
   margin-left: 10px;
}

/* Begin Channel CSS */
.workspace-channel {
   background-color: #371b3a;
   width: 390px !important;
   flex: 0 0 390px !important;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   margin-bottom: 45px;
}

.bytespace-name-words {
   color: #d1d2d3;
   font-size: 18px;
   font-family: "Lato", sans-serif;
   font-weight: 900;
   margin-top: 10px;
   margin-left: 10px;
}

.bytestream-name-dropdown {
   display: flex;
   flex-direction: row;
   align-items: center;
   color: #d1d2d3;
   font-size: 15px;
   margin-left: 10px;
}

.bytestream-name-dropdown::after {
   content: none !important;
}

.channel-dropdown-open {
   background-color: #371b3a !important;
   border: none !important;
}

.channel-dropdown-open a {
   color: #b9babd !important;
}

.channel-dropdown-open a:hover {
   background-color: #5f2565 !important;
   color: #b9babd !important;
   border-radius: 20px !important;
}
.channel-dropdown-item-div {
   margin-top: 5px;
}

/* Begin Chatroom CSS */
.chatroom-outer-div {
   background-color: #ffffff;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   margin-bottom: 45px;
   margin-right: 5px;
}

.chatroom-topbar {
   height: 5.5%;
   border-bottom: 1px solid #969796;
   width: 100%;
}

.chatroom-display {
   display: flex;
   flex-direction: column-reverse;
   overflow-y: auto !important;
   height: 80% !important;
   max-height: 80% !important;
   width: 100%;
}

.chatroom-input {
   height: 13%;
   width: 100%;
}

.chatroom-channel-name-dropdown {
   color: #1d1c1d;
   font-size: 18px;
   font-family: "Lato", sans-serif;
   margin-top: 10px;
   font-weight: 900;
}

.chatroom-channel-name-dropdown::after {
   content: none !important;
}

.chatroom-channel-name-dropdown-open {
}

.chatroom-display-message-div {
   margin-top: 7.5px;
   margin-bottom: 7.5px;
}

.message-div-person {
   width: 40px !important;
   padding-left: 0 !important;
   padding-right: 0 !important;
   padding-top: 5px !important;
   margin-right: 5px !important;
}

.message-div-person > svg {
   width: 36px;
   height: 36px;
   color: #5f2565;
   background-color: #9f74a3;
}

.message-username-time-div {
   padding-left: 0;
}

.username-time-div {
   display: flex;
   flex-direction: row;
   margin-left: 0;
}

.username-time-div span {
   width: fit-content;
   margin-left: 0;
   padding-left: 0;
}
.message-username {
   font-size: 16px;
   font-weight: 900;
   font-family: "Lato", sans-serif;
   color: #1d1c1d;
   padding-right: 5px !important;
}

.message-time {
   font-family: "Lato", sans-serif;
   font-size: 12px;
   color: #969796;
   margin-top: 6px !important;
}

.join-add-channel-dropdown {
   margin-top: 10px;
}

.join-add-channel-dropdown > button {
   cursor: pointer;
   width: 30%;
   margin-right: 10px;
   height: 30px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #8e25eb;
   color: #fffdd0;
   font-size: 12px;
   font-family: "Source Sans Pro";
   font-weight: 700;
   line-height: 22px;
   outline: none;
}

/*OLD CSS CODE WITHOUT BOOTSTRAP IF I NEED IT LATER*/
/* .single-bytespace-outerdiv {
   display: grid;
   height: 898px;
   width: 100%;
   grid-template-columns: 5% 15% 80%;
   margin: 0;
   padding: 0;
   border: 4px #7851a9 solid;
} */

/* .bytespace-leftbar {
   width: 100%;
   background-color: #8b8589;
   border-left: 4px #7851a9 solid;
} */

/* .bytespace-messagesdiv {
   display: grid;
   grid-template-rows: 85% 15%;
   width: 100%;
   background-color: #a9a9a9;
   border-left: 4px #7851a9 solid;
} */

/* */
/* .profile-dropdown {
   position: absolute;
   top: 60px;
   margin-top: 50px;
}

.bytestream-name-dropdown button {
   cursor: pointer;
   width: 100%;
   height: 20px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #8e25eb;
   color: #ffffff;
   font-size: 12px;
   font-family: "Source Sans Pro";
   font-weight: 700;
   line-height: 22px;
   outline: none;
   margin-top: 5px;
}

.bytestreamChatRoom-messagesdiv {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: 100%;
   overflow-y: auto;
} */

/* .bytespace-leftbar-topdiv {
   display: flex;
   justify-content: center;
   padding-top: 7px;
   padding-bottom: 10px;
}

.joined-bytestreams-to-display {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   margin-left: 10px;
}

.joined-bytestreams-to-display li {
   list-style-type: none;
   color: #fffdd0;
   font-weight: 700;
   margin-top: 12.5px;
   padding-right: 15px;
   padding-left: 15px;
   transition: all 0.3s ease;
}

.joined-bytestreams-to-display li:hover {
   background-color: #7851a9;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   cursor: pointer;
}

.create-join-div {
   width: 40%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 25px;
}

.bytespace-name-words {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
   width: 130px;
   height: 40px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   color: #fffdd0;
   font-size: 24px;
   font-family: "Source Sans Pro";
   line-height: 19px;
   padding-left: 20px;
}

.bytestream-dropdown-div {
   display: flex;
   flex-direction: row;
   padding-left: 10px;
   width: 100px;
}
.dropdown-logo {
   font-size: 17px;
   width: 17px;
   height: 17px;
   cursor: pointer;
}
.bytestream-name-words {
   width: 130px;
   height: 40px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   color: #fffdd0;
   font-size: 18px;
   font-family: "Source Sans Pro";
   line-height: 19px;
   margin-left: 5px;
}

#right-click-menu {
   margin: 0 auto;
   position: absolute;
   height: 100px;
   width: 300px;
}

#parent-element-context {
   margin-top: 20px;
}

.small-x {
   cursor: pointer;
   width: 15px;
   height: 15px;
   margin-left: 285px;
}

#right-click-menu button {
   cursor: pointer;
   width: 100%;
   height: 20px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #ffffff;
   color: #8e25eb;
   font-size: 12px;
   font-weight: 600;
   font-family: "Source Sans Pro";
   line-height: 22px;
   outline: none;
   margin-top: 5px;
}

.addmessagebutton {
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.bytespace-namedropdown-div button {
   cursor: pointer;
   width: 100%;
   height: 20px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #8e25eb;
   color: #fffdd0;
   font-size: 12px;
   font-family: "Source Sans Pro";
   font-weight: 700;
   line-height: 22px;
   outline: none;
}

.bytespace-namedropdown-div ul {
   list-style-type: none;
}

.bytespace-namedropdown-div li {
   padding-bottom: 10px;
}

.bytestreamChatRoom-messagesdiv {
   padding: 10px;
   height: 756px;
}

.bytestreamChatRoom-message {
   margin-bottom: 15px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
}

.message-username {
   font-weight: bold;
   margin-right: 5px;
}

.message-text {
}

.bytestreamChatRoom-input {
   display: flex;
   position: relative;
   width: 100%;
}

.bytestreamChatRoom-input input[type="text"] {
   flex-grow: 1;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
}

.bytestreamChatRoom-input button {
   padding: 10px 15px;
   border: none;
   border-radius: 0 4px 4px 0;
   background-color: #8e25eb;
   color: white;
   font-weight: 800;
   font-size: large;
   cursor: pointer;
   width: 10%;
}

.message-timestamp {
   margin-left: 10px;
   color: #888;
   font-size: smaller;
} */
