.profile-dropdown {
   position: absolute;
}

.hidden {
   display: none;
}

.left-nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 890px;
   background-color: thistle;
   list-style-type: none;
}

.left-nav-topdiv {
   display: flex;
   flex-direction: column;
   height: 100px;
   justify-content: space-between;
   align-items: center;
}

.left-nav-topdiv-secondli {
   width: 100%;
}
.left-nav-bytespace-dropdown {
   cursor: pointer;
}

.left-nav-bytespace-dropdown-button {
   list-style-type: none;
   padding-bottom: 10px;
}
.left-nav-bytespace-dropdown-button button {
   cursor: pointer;
   width: 100%;
   height: 20px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #8e25eb;
   color: #ffffff;
   font-size: 12px;
   font-family: "Source Sans Pro";
   font-weight: 700;
   line-height: 22px;
   outline: none;
}

.personicon {
   cursor: pointer;
   height: 40px;
   width: 40px;
   margin: 0 auto 15px auto;
}
