.signup-modal-outerdiv {
   background-color: #371b3a;
   height: 740px;
   width: 600px;
   border-radius: 24px;
}

.signup-modal-form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.signup-modal-topdiv {
   display: flex;
   flex-direction: column;
   height: 50px;
   justify-content: space-evenly;
}
.signup-modal-signupwords {
   color: #d1d2d3;
   font-size: 36px;
   font-family: "Lato, sans-serif";
   font-weight: 700;
   text-align: center;
   margin: 15px 0 0 0;
}

.signup-modal-startingwords {
   color: #d1d2d3;
   font-size: 14px;
   font-family: "Lato, sans-serif";
   text-align: center;
   margin: 0;
}

.signup-modal-inputdiv {
   margin-bottom: 5px;
}

.signup-modal-form-labels {
   display: block;
   color: #d1d2d3;
   font-family: "Lato, sans-serif";
}

.signup-modal-labels-div {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 25px;
   margin: 20px 0 0 0;
}

.signup-modal-labels-div h4 {
   font-size: 18px;
}

.signup-modal-labels-div p {
   color: #dc143c;
   padding-left: 25px;
   margin-top: 10px;
}

.signup-modal-form-inputs {
   display: block;
   width: 450px;
   height: 40px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #d1d2d3;
   color: black;
   font-size: 14px;
   font-family: "Source Sans Pro";
   font-weight: 500;
   line-height: 18px;
   outline: none;
   margin-top: 5px;
}

.signup-modal-form-inputs::placeholder {
   color: black;
}

.signup-modal-form-submitbutton {
   cursor: pointer;
   width: 450px;
   height: 48px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #ebc8e6;
   color: #732e79;
   font-size: 16px;
   font-family: "Lato, sans-serif";
   font-weight: 700;
   line-height: 22px;
   outline: none;
   margin-top: 20px;
}

.signup-errors {
   color: #dc143c;
}
