.signup-modal-outerdiv {
   background-color: #161616;
   height: 740px;
   width: 600px;
   border-radius: 24px;
}

.signup-modal-form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.signup-modal-topdiv {
   display: flex;
   flex-direction: column;
   height: 50px;
   justify-content: space-evenly;
}
.signup-modal-signupwords {
   color: #ffffff;
   font-size: 36px;
   font-family: "Source Sans Pro";
   font-weight: 700;
   text-align: center;
   margin-bottom: 5px;
}

.signup-modal-startingwords {
   color: #ffffff;
   font-size: 14px;
   font-family: "Source Sans Pro";
   text-align: center;
   margin: 0;
}

.signup-modal-inputdiv {
   height: 90px;
   margin-bottom: 5px;
}

.signup-modal-form-labels {
   display: block;
   color: #bebebe;
   font-family: "Source Sans Pro";
}

.signup-modal-labels-div {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 40px;
}

.signup-modal-labels-div p {
   color: red;
   padding-left: 25px;
}

.signup-modal-form-inputs {
   display: block;
   width: 450px;
   height: 48px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #323232;
   color: #bebebe;
   font-size: 14px;
   font-family: "Source Sans Pro";
   font-weight: 500;
   line-height: 18px;
   outline: none;
   margin-top: 5px;
}

.signup-modal-form-inputs::placeholder {
   color: #bebebe;
}

.signup-modal-form-submitbutton {
   cursor: pointer;
   width: 450px;
   height: 48px;
   padding: 0px 8px;
   border: 0;
   box-sizing: border-box;
   border-radius: 24px;
   background-color: #8e25eb;
   color: #ffffff;
   font-size: 16px;
   font-family: "Source Sans Pro";
   font-weight: 700;
   line-height: 22px;
   outline: none;
   margin-top: 20px;
}

.signup-errors {
   color: red;
}
